<div class="highlight-section">
  <div class="highlight-bg-wrapper text-center">
    {% if settings.featured_title != '""' and settings.featured_title != '' %}
    	<h2 class="section-header__title">{{ settings.featured_title }}</h2>
    {% endif %}
    <div class="highlight-wrapper">
      <div class="highlight-flex">
        {% for i in (1..8) %}
            {% capture featured_img %}featured_{{ i }}_img{% endcapture %}
        	{% capture featured_link %}featured_{{ i }}_link{% endcapture %}
            {% capture featured_text %}featured_{{ i }}_text{% endcapture %}
        
        	{% if settings[featured_img] != '""' and settings[featured_img] != '' %}
            <div class="highlight-item">
              <a href="{{ settings[featured_link] }}" class="highlight-item_link">
                <div class="highlight-item-img" style="background-image: url('{{ settings[featured_img] }}');">
                	<img class="hide" src="{{settings[featured_img]}}" alt="{{ shop.name | escape }} | {{ settings.featured_title }} - {{ settings[featured_text] }}"/>
                </div>
                <h5>{{ settings[featured_text] }}</h5>
              </a>
            </div>
        
       		{% endif %}
        
        {% endfor %}
      </div>
    </div>
  </div>
</div>
